.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  border-radius: 10px;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1;
  z-index: 1;
  transition: 0.2s ease;
  cursor: pointer;
  justify-content: center;

  &:hover {
    opacity: 0.9;
  }
}

.grey {
  color: radial-gradient(ellipse at bottom, #121d29 0%, #090a0f 100%);
  background-color: var(--white);
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;

  &:hover {
    background: #ff5e33;
    background: var(--gradient-orange);
    color: var(--white);
  }
  @media (max-width: 500px) {
    padding: 8px 15px;
  }
}

.black {
  background-color: #111;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  color: white;
  padding: 12px 30px;

  &:hover {
    opacity: 0.7;
    color: white;
  }
}

.web {
  background: #ff5e33;
  background: var(--gradient-orange);
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  color: white;
  padding: 12px 50px;

  &:hover {
    opacity: 0.7;
    color: white;
  }
}

.portfolio {
  width: 100%;
  max-width: 300px;
}
