.About {
  height: max-content;
  width: 100%;
  background-color: #e6eaf0;
  display: flex;
  justify-content: center;
}

.content {
  width: 70%;
}

.About h2 {
  display: flex;
  justify-content: center;
  color: #0f1825;
  margin-top: 70px;
}

.profile {
  display: flex;
  flex-direction: row;
  margin: 50px 100px;
}

.profileImg {
  overflow: hidden;
}

.profileImg img {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  margin: 40px;
  color: #0f1825;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  gap: 50px;
}

.scroll {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 80%;
  overflow: hidden;
  mask-image: linear-gradient(
    to left,
    transparent,
    black 80px,
    black calc(100% - 80px),
    transparent
  );
  // -webkit-mask-image: linear-gradient(90deg, transparent, #e3daf2 20%, #e3daf2 80%, transparent)
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}
:root {
  --time: 60s;
}

.scroll div span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #1094b6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border-radius: 25px;
  transition: 0.5s;
  margin: 10px;
}
