header {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  @media (max-width: 768px) {
    display: none;
  }
}

//------------------------Navigation--------------------------//

.navWrap,
.opaque {
  width: 100%;
  position: fixed;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 100;
}
.opaque {
  background-color: var(--blackNav);
}

.nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}
.nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

.nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: var(--white);
  font-size: 13px;
  font-family: var(--fontBold);
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  @media (max-width: 600px) {
    font-size: 11px;
    }
}

.nav li.current a,
.nav li a:hover {
  color: var(--orange);
}

@media (max-width: 500px) {
  .nav li:nth-child(4) {
    display: none;
  }
}

//------------------------Banner--------------------------//

.rowBanner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
  z-index: 10;
  @media (max-width: 768px) {
    vertical-align: none;
    margin: 0;
  }
}

.bannerText {
  width: 100%;
}

//------------------------Banner Animation--------------------------//
.nombre {
  --bg-size: 400%;
  --color-one: #ff9d14;
  --color-two: #ff672f;
  --color-three: #ff5e33;
  --color-four: #ff4240;
  font-size: 90px;
  font-family: var(--fontBold);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-three),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  @media (max-width: 500px) {
    font-size: 70px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .nombre {
    animation: move-bg 15s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
//--------------------------------------------------//

.bannerText h3 {
  font-size: 18px/1.9em;
  color: var(--white);
  margin: 0 auto;
  width: 70%;
  @media (max-width: 500px) {
    font-size: 16px;
    margin-top: 10px;
  }
}

.bannerText hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

.mainButtons {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

.mainButtons li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  @media (max-width: 500px) {
    gap: 20px;
  }
}

//------------------------Scrolldown Button--------------------------//

.scrolldown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -12px;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: var(--grey);
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  @media (max-width: 768px) {
    display: none;
  }
}
.scrolldown a:hover {
  color: var(--orange);
  opacity: 0.8;
}

//------------------------Social Media Links--------------------------//

.media {
  position: absolute;
  left: 150px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1408px) {
    left: 50px;
    bottom: 50px;
    transform: translateY(0);
    @media (max-width: 768px) {
      position: absolute;
      flex-direction: row;
      left: auto;
      left: 0;
      right: auto;
      right: 0;
      bottom: 70px;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      gap: 50px;
      transform: translateY(0);
    }
  }
}

.media li {
  color: var(--white);
  font-size: 36px;
  margin-bottom: 12px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  position: relative;
  @media (max-width: 768px) {
    margin: 0;
  }
}
.media li:hover .tooltip {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

.tooltip {
  display: none;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.media li:hover {
  color: var(--orange);
}
